
.main{
  flex-wrap: wrap !important;
}
body{
    background-color: rgba(240, 231, 231, 0.267) !important;
    
  /* flex-wrap: wrap !important; */

}
.logos{
  height: 50px!important;
  width: 100% !important;
  background-color: #4169E1 !important;
  display: flex !important;


}
.log{
  display: flex !important;
}

.log1{
  display: flex !important;
  margin-left: 600px !important;
}
.fb{
  border-radius:10px !important ;
 margin-left: 70px !important;
 margin-top: 5px !important;

  
}
 .twit
{ 
   margin-left: 10px !important; 
   margin-top: 5px !important;

}

.ins{
  border-radius: 3px !important;
  margin-left: 10px !important; 
  margin-top: 5px !important;

}
.you{
  border-radius: 16px !important;
  margin-left: 10px !important; 
  margin-top: 5px !important;

}
.whats{
  margin-left: 10px !important; 
  margin-top: 5px !important;
 
}


.btn-group{
  margin-left: 450px !important;
  padding: 5px !important;
 
}

@media only screen and (max-width: 1116px){

.log{
  display: flex !important;
}
}
@media only screen and (max-width: 1116px){

  .btn-group{
    margin-left: 100px !important;
    padding: 10px !important;
    margin-bottom: 30px !important;
  }
  }

  @media only screen and (max-width: 1116px){
    .logos{
      height: 100px!important;
      width: 100% !important;
    }
  }

  @media only screen and (max-width: 861px){
    .log{
      flex-wrap: wrap !important;
    }
  }
  @media only screen and (max-width: 495px){
    .logos{
      flex-wrap: wrap !important;
      height: 200px !important;
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 495px){
    .btn-group{
      flex-wrap: wrap !important;
    }
  }
  @media only screen and (max-width: 439px){
  
    .logos{
      flex-wrap: wrap !important;
      height: 300px !important;
      width: 100% !important;
    }
  }

.navbar-brand{
  margin-left: 100px !important;
}
.home{
  color: white !important;
  background-color: #4169E1 !important;
  border-radius: 17px !important;
  width: 100px !important;
  text-align: center !important;
  
}
.dropdown-toggle{
  color: black !important;
  font-family: sans-serif !important;
}
.dr1:hover,.dr2:hover{
  color:white !important;
  background-color:  #4169E1 !important;


}
.dropdown-toggle:hover{
  border-radius: 20px !important;
  color:white !important;
  border-radius: 20px !important;
  background-color:  #4169E1 !important;

}
.saylani{
  padding: 5px !important;
  margin-right: 50px !important;
  margin-top: 10px !important;
  margin-left: 10px !important;
}
/* .navbar{
  position: fixed !important;
  left: 0px !important;
  right: 0px !important;
  top: 100px !important;
} */
.p1{
  padding: 2px !important;
  margin:10px 50px 0px 30px !important;
  background-color: #4169E1;
  color:white !important ;
}
.img0{
  border-radius:40px !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50px;
  
}
.p2{
  font-family: BigCalson !important;
  font-size:xx-large !important;
  margin-top: 70px !important;
  text-align: center !important; 
}
.span1{
  color: #4169E1 !important;
 
}
.b1{
  color: rgb(33, 63, 3) !important
}
.p3{

text-align: justify !important;

margin-left: 200px !important;
margin-right: 110px !important;
 font-size: 14px !important;
line-height: 25px !important;
color: rgba(0, 0, 0, 0.514) !important;
margin-top: 20px !important;
}
@media only screen and (max-width: 393px){
 .p3{
   margin-left: 10px !important;
   margin-right: 20px !important;
   flex-wrap: wrap !important;
 }


}
.icons{
  margin-top: 50px !important;
 background-color: #4169E1 !important;
 width: 100% !important;

}
.divs{
  height: 500px !important;
  width: 300px !important;
 
}
.food{
  text-align: center !important;
  margin-top: 20px !important; 

}
.num{
  font-family: 'Abril fatface';
  color: white !important;
  text-align: center !important;
  margin-top: 27px !important;

}
.para{
   text-align: center !important;
   
 
}

.span2{
  color: white !important;
  font-size: small !important;
  font-family: BigCalson !important;
  
}
.span3{
  font-size: medium !important;
  font-family: BigCalson !important;
  color: rgb(17, 219, 34) !important ;
}
@media only screen and (max-width: 1099px){
 .p3{
   margin-left: 100px !important;
   margin-right: 50px !important;
 }
}
@media only screen and (max-width: 1057px){
  .p3{
    margin-left: 50px !important;
    margin-right: 25px !important;
  }
 }
 @media only screen and (max-width: 985px){
  .p3{
    margin-left: 25px !important;
    margin-right: 10px !important;
  }
 }
 @media only screen and (max-width: 985px){
  .p3{
   width: 100% !important;
  }
 }
 @media only screen and (max-width: 850.91px)
 {
   .icons{
     flex-wrap: wrap !important;
   
   }
 }
 @media only screen and (max-width: 850.91px){
   .divs{
    height: 200px !important;
   }
 }
 .icons1{
   flex-wrap: wrap !important;
 }
 .divs1{
   height: 160px !important;
   width: 300px !important;
   background-color: white !important;
   box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.295) !important;
   margin-left: 168px !important;
   margin-top: 18px !important;
   text-align: center !important;
   
 }
.divs2{
  height: 160px !important;
  width: 300px !important;
  background-color: white !important;
  box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.295) !important;
  margin-left: 40px !important;
  margin-top: 18px !important;
  text-align: center !important;
 
}
.divs3{
  height: 160px !important;
  width: 300px !important;
  background-color: white !important;
  box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.295) !important;
  margin-left: 40px !important;
  margin-top: 18px !important;
  text-align: center !important;
  
  
}
.divs4{
  height: 160px !important;
  width: 300px !important;
  background-color: white !important;
  box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.295)!important;
  margin-left: 168px !important;
  margin-top: 40px !important;
  /* margin-top: 18px !important; */
  text-align: center !important;

}
.divs5{
  height: 160px !important;
  width: 300px !important;
  background-color: white !important;
  box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.295) !important;
  margin-left: 40px !important;
  margin-top: 40px !important;
  text-align: center !important;
 
}
.divs6{
  height: 160px !important;
  width: 300px !important;
  background-color: white !important;
  box-shadow: 5px 5px 5px 3px rgba(128, 128, 128, 0.295)!important;
  margin-left: 40px !important;
  text-align: center !important;
  margin-top: 40px !important;
  
}
.images{
 cursor: pointer !important;
  margin-top: 30px !important;
}
.para1{
  margin-top: 20px !important;
  font-family: 'BigCalson' !important;
  color: #4169E1 !important;
  font-size: 19px  !important;
}
@media only screen and (max-width: 543px){
   
  .divs1{
    width: 100% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
@media only screen and (max-width: 543px){
   
  .divs2{
    width: 100% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
@media only screen and (max-width: 543px){
   
  .divs3{
    width: 100% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
@media only screen and (max-width: 543px){
   
  .divs4{
    width: 100% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
@media only screen and (max-width: 543px){
   
  .divs5{
    width: 100% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
@media only screen and (max-width: 543px){
   
  .divs6{
    width: 100% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
.papa{
  margin-top: 50px !important;
  background-color: white !important;
  /* height: 400px !important; */
}
.abc{
  padding: 70px !important;
  margin-top: 100px !important;
}
.mama{
 
  color: #4169E1 !important;
  font-size: 25px !important;
  font-weight: 400px !important;
  font-family: 'Ubantu' !important;
  margin-left: 60px !important;
 
}
.nimo{
  margin-top: 40px !important;
  padding: 50px !important;
    margin-left:50px !important;
  height: 20px !important;
    width: 300px !important;
    background-color: rgba(128, 128, 128, 0.137);
    border:1px solid rgba(128, 128, 128, 0.24) ;
}
.noori{
  padding: 50px !important;
  margin-left: 50px !important;
  height: 0px !important;
  width: 300px !important;
  background-color: rgba(128, 128, 128, 0.137);
  border:1px solid rgba(128, 128, 128, 0.24) ;
  margin-top: 10px !important;
  text-align: center !important;
  
}
.mano{
   color: #4169E1 !important;
   font-family: 'Ubantu' !important;
  margin-left: 20px !important;
 
  
}
.def{
   /* margin-bottom: 10px !important; */
  color: #4169E1 !important;
  font-size: 25px !important;
  font-weight: 400px !important;
  font-family: 'Ubantu' !important;
  margin-left: 60px !important;
  margin-top: 60px !important;
}
.events{
  overflow: scroll  !important;
  margin-left: 40px !important;
  height: 300px !important;
  width: 300px !important;
  padding: 25px !important;
  color: rgba(0, 0, 0, 0.425) !important;
}
.more{
  color: #4169E1 !important;
  cursor: pointer !important;
}
.ayan{
  cursor: pointer !important;
}

.empty{
  height: 50px!important;
}
.GALLERY{
 margin-top: 100px    !important;
 margin-right: 50px !important;
 margin-left: 120px !important;
}
.to{
  margin-left: 5px !important;
  margin-top: 5px !important;
}
@media only screen and (max-width: 1101px){
  
  .GALLERY{
  flex-wrap: wrap !important;
  margin-left: 50px !important;
  margin-right: 10px !important;
  
}
}
@media only screen and (max-width: 427px){
  .to{
    width: 90% !important;
    height: 250px !important;
  }
}
.black{
  height: 400px !important;
  width: 100% !important;
  margin-top: 300px !important;
  padding: 100px !important;
  background-color: black !important;
}
.empty1{
  height: 90px !important;
}
.pfooter{
  color: white !important;
  margin-left: 70px !important;
  font-size: small !important; 
  line-height: 2px !important; 
}
.p1footer{
  color: white !important;
  margin-left: 70px !important;
  font-size: small !important;  
  line-height: 20px !important;
 
}

.p2footer{
  color: white !important;
  margin-left: 70px !important;
  font-size: small !important;  
  line-height: 20px !important;

}
.p3footer{
  color: white !important;
  margin-left: 70px !important;
  font-size: small !important;  
  line-height: 2px !important; 

}
.p4footer{
  color: white !important;
  margin-left: 70px !important;
  line-height: 2px !important; 

  font-size: small !important;  
}
.p5footer{
  color: white !important;
  margin-left: 70px !important;
  font-size: small !important;  
  line-height: 2px !important; 

}
.p6footer{
  color: white !important;
  margin-left: 70px !important;
  font-size: small !important;  
  line-height: 2px !important; 

}
.p7footer{
  color: white !important;
margin-left: 500px !important;
font-size: medium !important;
text-decoration: underline white !important;
}
.p8footer{
  background-color: #4169E1 !important;
color: white !important;
height: 40px !important;

/* margin-left: 100px !important; */
}
.p8footer{
  background-color: #4169E1 !important;
  width: 100% !important;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 2000px !important;
}

#myBtn:hover {
}
